<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="connStringDwh" value="Data Source=192.168.99.100; Initial Catalog=dwh_db_name; Integrated Security=FALSE; UID=sa; Password=R@nd0mP@ssw0rd"/>
		<add key="connStringErp" value="Data Source=192.168.99.101; Initial Catalog=erp_db_name; Integrated Security=FALSE; UID=sa; Password=R@nd0mP@ssw0rd"/>
		<add key="logPath" value="D:\\\dwh\\logs\\reporting_inventory_aging\\"/>
		<add key="job" value="reporting_inventory_aging"/>
	</appSettings>
</configuration>